/*
  Colors
  Base line grid
  Layout
  Typography
*/
/*-- Animations --*/
/*-- Kay Frames --*/
/*-- Transforms --*/
/* line 4, ../scss/components/_reset.scss */
* {
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/components/_layout.scss */
html {
  width: 100%;
  background-color: #f9fafb;
}

/* line 11, ../scss/components/_layout.scss */
body {
  max-width: 672px;
  padding: 120px 24px;
  /* background-image: url("/images/commons/base-line.png"); */
  margin: 0 auto;
}

/* line 18, ../scss/components/_layout.scss */
.clearfix {
  clear: both;
  overflow: hidden;
}

/*
  Paragraph
  Link
  Title
  Sub Title
*/
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local("Noticia Text"), local("NoticiaText-Regular"), url(/fonts/noticia-text.woff2) format("woff2"), url(/fonts/noticia-text.woff) format("woff");
}

/* line 24, ../scss/components/_typography.scss */
p {
  width: 100%;
  padding: 6px 0 6px;
  margin: 0 0 48px;
  cursor: default;
  font-family: "Noticia Text", calibri, arial;
  font-size: 17px;
  line-height: 24px;
  color: #363b47;
}
/* line 35, ../scss/components/_typography.scss */
p.center {
  text-align: center;
}

/* line 43, ../scss/components/_typography.scss */
a {
  display: inline-block;
  font-family: "Noticia Text", calibri, arial;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #575f72;
}
/* line 52, ../scss/components/_typography.scss */
a:hover, a:focus {
  color: #363b47;
}

/* line 60, ../scss/components/_typography.scss */
.title {
  width: 100%;
  padding: 11px 0 1px;
  margin: 0 0 60px;
  font-family: "Noticia Text", calibri, arial;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #4c5364;
}
/* line 71, ../scss/components/_typography.scss */
.title.with-subtitle {
  margin: 0;
}

/* line 77, ../scss/components/_typography.scss */
.subtitle {
  width: 100%;
  padding: 5px 0 7px;
  margin: 0 0 36px;
  font-family: "Noticia Text", calibri, arial;
  font-size: 15px;
  line-height: 24px;
  font-weight: light;
  text-align: center;
  color: #bbbbbb;
}

/* line 93, ../scss/components/_typography.scss */
.image-label {
  display: block;
  padding: 6px 0 6px;
  margin: 0 0 24px;
  font-family: "Noticia Text", calibri, arial;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #bbbbbb;
}

/* line 5, ../scss/components/_separator-line.scss */
.separator-line {
  width: 240px;
  height: 1px;
  background: -webkit-linear-gradient(left, #f9fafb, #363b47, #f9fafb);
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 119px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/*
  Big Image
  Small Image
*/
/* line 11, ../scss/components/_images.scss */
.big-image {
  width: 624px;
  max-width: 100%;
  margin: 0 0 24px;
}

/* line 19, ../scss/components/_images.scss */
.small-image {
  display: block;
  width: 384px;
  max-width: 100%;
  margin: 0 auto 24px;
}

/*
  Button
*/
/*-- button --*/
/* line 11, ../scss/components/_buttons.scss */
.button {
  padding: 12px 24px;
  margin: 0 24px 0 0;
  border: 1px solid #e15842;
  font-family: "Noticia Text", calibri, arial;
  font-size: 17px;
  line-height: 22px;
  color: #e15842;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
/* line 14, ../scss/components/_buttons.scss */
.button:last-of-type {
  margin: 0;
}
/* line 27, ../scss/components/_buttons.scss */
.button:hover {
  /* padding: $v-gutter ($h-gutter + 2px); */
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  color: #de452c;
  border-color: #de452c;
}

/*
  Variables
  Intro Text
  Social Links
  Work Card
*/
/* line 17, ../scss/pages/_home.scss */
#home-page {
  padding: 180px 24px 120px;
}

/* line 23, ../scss/pages/_home.scss */
.social-icons-wrapper {
  width: 100%;
  height: 24px;
  margin: 0 0 180px;
  text-align: center;
}

/* line 29, ../scss/pages/_home.scss */
.social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 36px 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  background: url("/images/home-page/social-icon.png") no-repeat;
  background-size: 72px 24px;
  background-position: 0 0;
}
/* line 34, ../scss/pages/_home.scss */
.social-icon:last-child {
  margin: 0;
}
/* line 40, ../scss/pages/_home.scss */
.social-icon.github {
  background-position: -24px 0;
}
/* line 41, ../scss/pages/_home.scss */
.social-icon.twitter {
  background-position: -48px 0;
}
/* line 43, ../scss/pages/_home.scss */
.social-icon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 44, ../scss/pages/_home.scss */
.social-icon:focus {
  outline-width: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-box-shadow: 0 1px 0 0 #f9fafb, 0 2px 0 0 #363b47;
  -moz-box-shadow: 0 1px 0 0 #f9fafb, 0 2px 0 0 #363b47;
  box-shadow: 0 1px 0 0 #f9fafb, 0 2px 0 0 #363b47;
}

/* line 53, ../scss/pages/_home.scss */
.work-cards-wrapper {
  margin-top: 179px;
}

/* line 56, ../scss/pages/_home.scss */
.work-card {
  width: 192px;
  max-width: 100%;
  margin: 0 24px 24px 0;
  float: left;
}
/* line 61, ../scss/pages/_home.scss */
.work-card:nth-child(3) {
  margin: 0;
}
/* line 63, ../scss/pages/_home.scss */
.work-card img {
  display: block;
  max-width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=88);
  opacity: 0.88;
}
/* line 69, ../scss/pages/_home.scss */
.work-card a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(249, 250, 251, 0.8);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #363b47;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 86, ../scss/pages/_home.scss */
.work-card a:focus, .work-card a:hover {
  outline-width: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 89, ../scss/pages/_home.scss */
.work-card a:focus .title, .work-card a:hover .title {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 92, ../scss/pages/_home.scss */
.work-card a .title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 18px;
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
/* line 102, ../scss/pages/_home.scss */
.work-card a .desc {
  font-size: 12px;
  font-weight: normal;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}

@media screen and (max-width: 672px) {
  /* line 111, ../scss/pages/_home.scss */
  .work-card {
    width: 288px;
    float: none;
    margin: 0 auto 48px;
  }
  /* line 115, ../scss/pages/_home.scss */
  .work-card:nth-child(3) {
    margin: 0 auto 48px;
  }
}
@media screen and (max-width: 432px) {
  /* line 122, ../scss/pages/_home.scss */
  .work-card {
    width: 240px;
  }
}
/*-- Individual Images --*/
/* line 10, ../scss/pages/_12-great-men.scss */
.img-12gm {
  width: 384px;
  height: 384px;
  background: url("/images/12-great-men/12-great-men-individuals.png");
  background-size: 1152px 1536px;
}
/* line 15, ../scss/pages/_12-great-men.scss */
.img-12gm.steve-jobs {
  background-position: 0px 0px;
}
/* line 16, ../scss/pages/_12-great-men.scss */
.img-12gm.alan-turing {
  background-position: -384px 0px;
}
/* line 17, ../scss/pages/_12-great-men.scss */
.img-12gm.don-knuth {
  background-position: -768px 0px;
}
/* line 18, ../scss/pages/_12-great-men.scss */
.img-12gm.john-mccarthy {
  background-position: 0px -384px;
}
/* line 19, ../scss/pages/_12-great-men.scss */
.img-12gm.johnan-sebastian-bach {
  background-position: -384px -384px;
}
/* line 20, ../scss/pages/_12-great-men.scss */
.img-12gm.linus-torvalds {
  background-position: -768px -384px;
}
/* line 21, ../scss/pages/_12-great-men.scss */
.img-12gm.isaac-newton {
  background-position: 0px -768px;
}
/* line 22, ../scss/pages/_12-great-men.scss */
.img-12gm.rich-hickey {
  background-position: -384px -768px;
}
/* line 23, ../scss/pages/_12-great-men.scss */
.img-12gm.richard-stallman {
  background-position: -768px -768px;
}
/* line 24, ../scss/pages/_12-great-men.scss */
.img-12gm.m-c-escher {
  background-position: 0px -1152px;
}
/* line 25, ../scss/pages/_12-great-men.scss */
.img-12gm.nikola-tesla {
  background-position: -384px -1152px;
}
/* line 26, ../scss/pages/_12-great-men.scss */
.img-12gm.dieter-rams {
  background-position: -768px -1152px;
}

@media screen and (max-width: 672px) {
  /* line 30, ../scss/pages/_12-great-men.scss */
  .img-12gm {
    width: 288px;
    height: 288px;
    background-size: 864px 1152px;
  }
  /* line 34, ../scss/pages/_12-great-men.scss */
  .img-12gm.steve-jobs {
    background-position: 0px 0px;
  }
  /* line 35, ../scss/pages/_12-great-men.scss */
  .img-12gm.alan-turing {
    background-position: -288px 0px;
  }
  /* line 36, ../scss/pages/_12-great-men.scss */
  .img-12gm.don-knuth {
    background-position: -576px 0px;
  }
  /* line 37, ../scss/pages/_12-great-men.scss */
  .img-12gm.john-mccarthy {
    background-position: 0px -288px;
  }
  /* line 38, ../scss/pages/_12-great-men.scss */
  .img-12gm.johnan-sebastian-bach {
    background-position: -288px -288px;
  }
  /* line 39, ../scss/pages/_12-great-men.scss */
  .img-12gm.linus-torvalds {
    background-position: -576px -288px;
  }
  /* line 40, ../scss/pages/_12-great-men.scss */
  .img-12gm.isaac-newton {
    background-position: 0px -576px;
  }
  /* line 41, ../scss/pages/_12-great-men.scss */
  .img-12gm.rich-hickey {
    background-position: -288px -576px;
  }
  /* line 42, ../scss/pages/_12-great-men.scss */
  .img-12gm.richard-stallman {
    background-position: -576px -576px;
  }
  /* line 43, ../scss/pages/_12-great-men.scss */
  .img-12gm.m-c-escher {
    background-position: 0px -864px;
  }
  /* line 44, ../scss/pages/_12-great-men.scss */
  .img-12gm.nikola-tesla {
    background-position: -288px -864px;
  }
  /* line 45, ../scss/pages/_12-great-men.scss */
  .img-12gm.dieter-rams {
    background-position: -576px -864px;
  }
}
@media screen and (max-width: 432px) {
  /* line 50, ../scss/pages/_12-great-men.scss */
  .img-12gm {
    width: 240px;
    height: 240px;
    background-size: 720px 960px;
  }
  /* line 54, ../scss/pages/_12-great-men.scss */
  .img-12gm.steve-jobs {
    background-position: 0px 0px;
  }
  /* line 55, ../scss/pages/_12-great-men.scss */
  .img-12gm.alan-turing {
    background-position: -240px 0px;
  }
  /* line 56, ../scss/pages/_12-great-men.scss */
  .img-12gm.don-knuth {
    background-position: -480px 0px;
  }
  /* line 57, ../scss/pages/_12-great-men.scss */
  .img-12gm.john-mccarthy {
    background-position: 0px -240px;
  }
  /* line 58, ../scss/pages/_12-great-men.scss */
  .img-12gm.johnan-sebastian-bach {
    background-position: -240px -240px;
  }
  /* line 59, ../scss/pages/_12-great-men.scss */
  .img-12gm.linus-torvalds {
    background-position: -480px -240px;
  }
  /* line 60, ../scss/pages/_12-great-men.scss */
  .img-12gm.isaac-newton {
    background-position: 0px -480px;
  }
  /* line 61, ../scss/pages/_12-great-men.scss */
  .img-12gm.rich-hickey {
    background-position: -240px -480px;
  }
  /* line 62, ../scss/pages/_12-great-men.scss */
  .img-12gm.richard-stallman {
    background-position: -480px -480px;
  }
  /* line 63, ../scss/pages/_12-great-men.scss */
  .img-12gm.m-c-escher {
    background-position: 0px -720px;
  }
  /* line 64, ../scss/pages/_12-great-men.scss */
  .img-12gm.nikola-tesla {
    background-position: -240px -720px;
  }
  /* line 65, ../scss/pages/_12-great-men.scss */
  .img-12gm.dieter-rams {
    background-position: -480px -720px;
  }
}
/* line 69, ../scss/pages/_12-great-men.scss */
.image-label + .img-12gm {
  margin-top: 120px;
}

/* line 73, ../scss/pages/_12-great-men.scss */
.all-12gm-image {
  margin-bottom: 28px;
}

/*-- Footer --*/
/* line 80, ../scss/pages/_12-great-men.scss */
.footer {
  width: 100%;
  text-align: center;
}
