/*----- Import -----*/
/*----- Variables -----*/
/*----- Common Styles -----*/
/* line 20, ../scss/screen.scss */
* {
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: tahoma, calibri, arial;
  font-size: 14px;
  letter-spacing: 0.07em;
}
@media screen and (max-width: 768px) {
  /* line 20, ../scss/screen.scss */
  * {
    font-size: 13px;
  }
}

/* line 30, ../scss/screen.scss */
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f0f6f7;
  background-image: url("../images/bg-texture.png");
}

/* line 38, ../scss/screen.scss */
body {
  width: 100%;
  height: auto;
}

/*----- Elements -----*/
/* line 48, ../scss/screen.scss */
.page {
  width: 100%;
  clear: both;
  text-align: center;
}
/* line 52, ../scss/screen.scss */
.page .page-content {
  max-width: 740px;
  padding: 125px 25px;
  margin: 0 auto;
}

/* line 58, ../scss/screen.scss */
.image {
  width: 100%;
  margin: 0 auto 25px;
}

/* line 62, ../scss/screen.scss */
p {
  margin-bottom: 125px;
  color: #8fbfca;
}
/* line 65, ../scss/screen.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 68, ../scss/screen.scss */
.logo-img {
  width: 90px;
  height: 40px;
  background-image: url("../images/logo.png");
  background-size: 100% 100%;
}

/* line 74, ../scss/screen.scss */
a .twitter-img {
  width: 24px;
  height: 20px;
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 79, ../scss/screen.scss */
a .twitter-img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*----- Pages -----*/
/* line 87, ../scss/screen.scss */
.intro-page {
  background-color: #8fbfca;
  background-image: url("../images/bg-texture.png");
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
  -moz-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
}
/* line 91, ../scss/screen.scss */
.intro-page .logo-img {
  margin: 0 auto 75px;
}
/* line 92, ../scss/screen.scss */
.intro-page p {
  color: #fff;
  margin-bottom: 75px;
}

/* line 97, ../scss/screen.scss */
.work-page {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7) inset;
}
