@import "compass";





/*----- Variables -----*/
$color-aqua      : #8fbfca;
$color-black     : #000;
$color-red       : #e15842;
$color-red-dark  : #dd4831;
$color-bg        : #f0f6f7;

$gutter          : 12px;
$page-max-width  : 740px;
$header-height   : 60px;





/*----- Mixins -----*/
@mixin animation ($name:no-name, $dur:3s, $tf:linear, $itc:infinite, $del:0s ) {
    animation: $name $dur $tf $itc $del;
    -webkit-animation: $name $dur $tf $itc $del;
    -moz-animation: $name $dur $tf $itc $del;
    -ms-animation: $name $dur $tf $itc $del;
    -o-animation: $name $dur $tf $itc $del;
}
@mixin keyframes ($name) {
    @keyframes $name { @content }
    @-webkit-keyframes $name { @content }
    @-moz-keyframes $name { @content }
    @-ms-keyframes $name { @content }
    @-o-keyframes $name { @content }
}
@mixin my-transform ($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}





/*----- Common Styles -----*/
* {
    padding: 0;
    margin: 0;
    position: relative;
    @include box-sizing(border-box);
    font-family: calibri, arial;
    font-size: 16px;
    letter-spacing: 0.04em;
    @media screen and (max-width: 768px) { font-size: 15px }
    @media screen and (max-width: 512px) { font-size: 14px }
}





/*----- Page Layout -----*/
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $color-bg;
    background-image: url("../images/bg-texture.png");
}
body { padding-top: $header-height }





/*----- Intro Page -----*/
.intro-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: $color-aqua;
    background-image: url("../images/bg-texture.png");
    color: #fff;
    z-index: 3;
    @include transition(height 0.6s ease-out 0s, background 0.3s ease-out 0s);
    .intro-box {
        width: $page-max-width;
        max-width: 100%;
        height: 400px;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 $gutter*2;
        text-align: center;
        @include my-transform(translateX(-50%) translateY(-50%));
        @include transition(all 0.3s ease-out 0s)
    }
    .logo-img {
        width: 90px;
        height: 40px;
        margin: 0 auto;
        background-image: url("../images/logo.png");
        background-size: 100% 100%;
        @include transition(all 0.3s ease-out 0s);
    }
    .intro-text {
        width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        padding: 0 $gutter;
        @include my-transform(translateY(-50%));
        p { margin-bottom: $gutter*2 }
        a .twitter-img {
            width: 24px;
            height: 20px;
            margin: 0 auto;
            @include opacity(0.5);
            @include transition(all 0.3s linear 0s);
        }
        a:hover .twitter-img {
            @include opacity(1);
        }
    }
    .work-link {
        width: 160px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -80px;
        background: $color-red;
        border: 1px solid $color-red-dark;
        color: #fff;
        cursor: pointer;
        @include text-shadow(0 -1px 0 $color-red-dark);
        @include box-shadow(0 0 1px 1px rgba(#fff, 0.1));
    }
    .intro-link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include opacity(0);
        display: none;
        z-index: 10;
    }
    &:after {
        content: "";
        display: none;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: rgba($color-black, 0.05);
        @include box-shadow(0 1px 0 0 rgba(#fff, 0.5));
    }

    &.accelerate {
        &, .intro-box, .logo-img {
            @include perspective(1000);
        }
    }

    &[data-view="collapsed"]{
        height: $header-height;
        background-color: $color-bg;
        cursor: pointer;
        @include transition(height 0.6s ease-out 0s, background 0.3s ease-out 0.3s);
        .intro-box {
            @include transition(all 0.3s ease-out 0.3s);
            top: 0;
            @include my-transform(translateX(-50%) translateY(0));
        }
        .logo-img {
            width: 45px;
            height: 20px;
            margin-top: ($header-height/2 - 11);
            background-image: url("../images/logo-red.png");
            @include transition(all 0.3s ease-out 0.3s);
        }
        .intro-link, &:after { display: block }
    }
}





/*----- Page Header -----*/
.page-header {
    width: 100%;
    height: $header-height;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: rgba($color-black, 0.05);
        @include box-shadow(0 1px 0 0 rgba(#fff, 0.5));
    }
    .logo-img {
        width: 45px;
        height: 20px;
        margin: ($header-height/2 - 11) auto 0;
        background-image: url("../images/logo-red.png");
        background-size: 100% 100%;
    }
}




/*----- Page Content -----*/
.page-content-wrapper {
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    .page-content {
        width: $page-max-width;
        max-width: 100%;
        height: 400px;
        max-height: 100%;
        padding: $gutter*2;
        margin: 0 auto;
        color: $color-aqua;
        text-align: center;
        .image {
            width: 100%;
            margin: $gutter auto;
        }
    }
}
