@import "compass";





/*-- Variables --*/
$color-bg         : #f9fafb;
$color-black      : #363b47;
$color-red        : #e15842;

$base-line        : 5px;
$grid             : 105px;
$gutter           : 15px;
$page-max-width   : 630px;

$body-font-size   : 17px;
$body-line-height : $base-line*5;

$social-icon-size : 27px;





/*-- Common Styles --*/
* {
    padding: 0;
    margin: 0;
    position: relative;
    @include box-sizing(border-box);
    font-family: "Noticia Text", calibri, arial;
}
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $color-bg;
    padding: 0 $gutter*2;
}
body {
    max-width: $page-max-width;
    height: auto;
    margin: 0 auto;
}





/*-- Layout --*/
.row {
    width: 100%;
    overflow: hidden;
    &.margin-bottom { margin-bottom: $grid*2; }
}





/*-- Text --*/
.text {
    width: 100%;
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: $color-black;
    cursor: default;
    a {
        display: inline-block;
        text-decoration: none;
        color: lighten($color-black, 15%);
        border-bottom: 1px solid rgba($color-black, 0.06);
        &:hover {
            color: $color-black;
            border-bottom: 1px solid $color-black;
        }
        &:focus {
            outline-width: 0;
            border-bottom: 2px solid $color-black;
        }
    }

    &.intro {
        height: $grid*2;
        margin-top: $grid*2;
        text-align: center;
    }
}




/*-- Social Links --*/
.social-icons-wrapper {
    width: 100%;
    height: $social-icon-size;
    margin: 0 0 ($grid*2 - $social-icon-size);
    text-align: center;
}
.social-icon {
    display: inline-block;
    width: $social-icon-size;
    height: $social-icon-size;
    margin: 0 $gutter 0 0;
    @include opacity(0.85);

    &:last-child { margin: 0; }

    &:hover { @include opacity(1) }
    &:focus {
        outline-width: 0;
        border-bottom: 2px solid $color-black;
    }

    &.email {
        background: url("../images/email-icon.png") center no-repeat;
        background-size: contain;
    }
    &.twitter {
        background: url("../images/twitter-icon.png") center no-repeat;
        background-size: contain;
    }
    &.github {
        background: url("../images/github-icon.png") center no-repeat;
        background-size: contain;
    }
}





/*-- Separator Line --*/
.separator-line {
    width: $grid*2;
    height: 1px;
    background: -webkit-linear-gradient(left,$color-bg,$color-black,$color-bg);
    margin: 0 auto;
    margin-bottom: ($grid - 1px);
    @include opacity(0.2);
}




/*-- Work Card --*/
.work-card {
    width: $grid*2;
    height: $grid*2;
    float: left;
    padding: 0 $gutter/3 $gutter;

    img, a {
        display: block;
        width: ($grid*2 - $gutter*2/3);
        height: ($grid*2 - $gutter);
    }

    a {
        position: absolute;
        top: 0;
        left: $gutter/3;
        padding: $gutter*3/2 $gutter/3;
        color: $color-black;
        text-decoration: none;
        text-align: center;
        background: rgba($color-bg, 0.8);
        @include opacity(0);
        @include transition(all 0.2s ease-in 0s);
        @include translate3d(0,0,0);
        &:focus, &:hover {
            outline-width: 0;
            padding: $gutter $gutter/3;
            @include opacity(1);
            .title { @include translateY(-50%); }
        }

        .title {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            font-size: 18px;
            margin: 0 0 $gutter;
            @include translateY(-20%);
            @include transition(all 0.2s ease-in 0s);
        }
        .desc {
            font-size: 12px;
            font-weight: normal;
            @include opacity(0.85);
        }
    }

    &:first-child {
        padding: 0 $gutter*2/3 $gutter 0;
        a { left: 0; }
    }
    &:last-child {
        padding: 0 0 $gutter $gutter*2/3;
        a { left: $gutter*2/3; }
    }

}
