//--------------------------------------
// Layout
//--------------------------------------


html {
    width: 100%;
    background-color: $color-bg;
}

body {
    max-width: $page-max-width;
    padding: $v-gutter*10 $h-gutter;
    /* background-image: url("/images/commons/base-line.png"); */
    margin: 0 auto;
}

.clearfix {
    clear: both;
    overflow: hidden;
}
