//--------------------------------------
// Typography
//--------------------------------------
/*
  Paragraph
  Link
  Title
  Sub Title
*/


@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'),
  local('NoticiaText-Regular'),
  url(/fonts/noticia-text.woff2) format('woff2'),
  url(/fonts/noticia-text.woff) format('woff');
}


// Paragraph
p {
    width: 100%;
    padding: 6px 0 6px;
    margin: 0 0 ($v-gutter * 4);
    cursor: default;

    font-family: $p-font-family;
    font-size: $p-font-size;
    line-height: $p-line-height;
    color: $p-text-color;

    &.center {
        text-align: center;
    }
}



// Link
a {
    display: inline-block;

    font-family: $link-font-family;
    font-size: $link-font-size;
    line-height: $link-line-height;
    text-decoration: none;
    color: $link-text-color;

    &:hover, &:focus {
        color: $color-black;
        outline-width: 0;
    }
    &:focus {
        @include box-shadow(0 1px 0 0 $color-bg, 0 2px 0 0 $color-black);
    }
}



// Title - <h1>
.title {
    width: 100%;
    padding: 11px 0 1px;
    margin: 0 0 $v-gutter*5;

    font-family: $title-font-family;
    font-size: 32px;
    line-height: $v-gutter*4;
    text-align: center;
    color: lighten($color-black, 10%);

    &.with-subtitle { margin: 0; }
}



// Subtitle - <h2>
.subtitle {
    width: 100%;
    padding: 5px 0 7px;
    margin: 0 0 $v-gutter*3;

    font-family: $subtitle-font-family;
    font-size: 15px;
    line-height: $v-gutter * 2;
    font-weight: light;
    text-align: center;
    color: $color-gray;
}



// Image Label - <h6>
.image-label {
    display: block;
    padding: 6px 0 6px;
    margin: 0 0 $v-gutter*2;

    font-family: $label-font-family;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: $color-gray;
}
