$color-bg         : #f9fafb;
$color-black      : #363b47;
$color-gray       : #ccc;
$color-red        : #e15842;

$base-line        : 5px;
$grid             : 100px;
$gutter           : 15px;
$page-max-width   : $grid*6;

$body-font-size   : 17px;
$body-line-height : $base-line*5;

$social-icon-size : 27px;
